@page "/viewrecords/{currentName}"
@attribute [StreamRendering]
@using ReleaseNotesProject.Components

<PageTitle>View User Records</PageTitle>
<!--
 attempt to
 filter out table
from current user
not implemented fully
-->
<div style="display: inline">
    <div style="width:80%; display: inline-block; float:left; margin-right: 10px;">
        <p><b>Release Notes</b></p>
    </div>



</div>
<div>

    <!-- table item to display existing notes, with faux loading for visuals -->
    @if (releaseNotes == null)
    {
        <div> <p><em>Loading...</em></p></div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Note Guid</th>
                    <th>App Name</th>
                    <th>Release Note</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                <!--populate release notes dynamically from notes list-->
                @foreach (var note in releaseNotes)
                {
                    @if(note.createdBy == Users.currentUser.name)
                    {
                        <tr>
                            <td>@note.guid</td>
                            <td>@note.appName</td>
                            <td>@note.releaseNote</td>
                            <td>@note.createdBy</td>
                            <td>@note.createdDate[0..9].Trim()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>






@code {

    private List<ReleaseNote> releaseNotes;

    [Parameter]
    public string currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // loading simulation
        await Task.Delay(500);
        //load notes from sql into list for viewing
        releaseNotes = Connector.LoadNotes();
        releaseNotes.Sort(delegate (ReleaseNote x, ReleaseNote y)
        {
            return x.createdDate.CompareTo(y.createdDate);
        });




    }
}
