@page "/viewrecords"
@attribute [StreamRendering]
@using ReleaseNotesProject.Components

<PageTitle>ViewRecords</PageTitle>
<div style="display: inline">
    <div style="width:80%; display: inline-block; float:left; margin-right: 10px;">
        <p><b>Release Notes</b></p>
    </div>



</div>
<div>

    <!-- table item to display existing notes, with fake loading for visuals -->
    @if (releaseNotes == null)
    {
        <div> <p><em>Loading...</em></p></div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Note Guid</th>
                    <th>App Name</th>
                    <th>Release Note</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in releaseNotes)
                {
                    <tr>
                        <td>@note.guid</td>
                        <td>@note.appName</td>
                        <td>@note.releaseNote</td>
                        <td>@note.createdBy</td>
                        <td>@note.createdDate[0..9].Trim()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>






@code {

    private List<ReleaseNote> releaseNotes;


    protected override async Task OnInitializedAsync()
    {
        // loading simulation
        await Task.Delay(500);
        //load notes from sql into list for viewing
        releaseNotes = Connector.LoadNotes();
        releaseNotes.Sort(delegate (ReleaseNote x, ReleaseNote y)
        {
            return x.createdDate.CompareTo(y.createdDate);
        });



       
    }
}
